

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    #cardCanvas {
      border-radius: 16px;
    }
    @keyframes slideIn {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
    .slide-animation {
      animation: slideIn 0.8s ease-out;
    }
  
