

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    html, body {
      font-family: 'Geist', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    }
  


    .perspective-container {
      perspective: 1000px;
      transform-style: preserve-3d;
    }
    /* Optional: hide scrollbars for cleaner look */
    .overflow-y-auto::-webkit-scrollbar {
      width: 6px;
      background: transparent;
    }
    .overflow-y-auto::-webkit-scrollbar-thumb {
      background: #e5e7eb;
      border-radius: 6px;
    }
  
