<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>make more luxurious, hero section seems too crowde</title>
    <link rel="shortcut" href="https://cdn.prod.website-files.com/68423937cec4fb3017df58d1/68578e0b59df521ab05bdef0_Frame%2065%20(1).png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=G-2M6V79H761"></script>
  </head>
  <body class="bg-black text-white antialiased">
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
