

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


        body { font-family: 'Inter', sans-serif; }
        .aspect-video { aspect-ratio: 16 / 9; }
        .aspect-square { aspect-ratio: 1 / 1; }
    
