@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for clean horizontal scrolls */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Custom toggle switch */
.toggle-checkbox:checked { right: 0; border-color: #fff; }
.toggle-checkbox:checked + .toggle-label { background-color: #fff; }
.toggle-checkbox:checked + .toggle-label:after { transform: translateX(100%); border-color: #fff; }

/* Custom detail/summary marker removal */
details > summary { list-style: none; }
details > summary::-webkit-details-marker { display: none; }