

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


        @keyframes marquee {
            0% { transform: translateX(0); }
            100% { transform: translateX(-100%); }
        }
        
        .animate-[marquee_40s_linear_infinite]:hover {
            animation-play-state: paused;
        }
    
