

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    .iso-pro span {
      opacity: 0;
      position: absolute;
      border-radius: 0.75rem;
      transition: all 0.3s;
      height: 60px;
      width: 60px;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: 1;
      background: #000;
    }
    .iso-pro:hover span { opacity: 1; }
    .iso-pro:hover span:nth-child(1) { opacity: 0.12; }
    .iso-pro:hover span:nth-child(2) { opacity: 0.22; transform: translate(5px,-5px);}
    .iso-pro:hover span:nth-child(3) { opacity: 0.32; transform: translate(10px,-10px);}
    .iso-pro:hover a > .icon-wrapper { transform: translate(15px,-15px); }
    .iso-pro:hover .icon-wrapper { transform: translate(5px,-5px);}
    .iso-pro .text { opacity: 0; transition: all 0.3s; }
    .iso-pro:hover .text {
      opacity: 1;
      transform: translateY(-60px) translateX(0.5rem) skew(-5deg);
    }
  
