

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    body {
      margin: 0;
      background: #171618;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      font-family: 'Rajdhani', Arial, sans-serif;
    }
    @keyframes animate1 { 0% {transform: translateX(-100%);} 100% {transform: translateX(100%);} }
    @keyframes animate2 { 0% {transform: translateY(-100%);} 100% {transform: translateY(100%);} }
    @keyframes animate3 { 0% {transform: translateX(100%);} 100% {transform: translateX(-100%);} }
    @keyframes animate4 { 0% {transform: translateY(100%);} 100% {transform: translateY(-100%);} }
  
