

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    body { font-family: 'Inter', sans-serif }
    #tsparticles {
      position: fixed;
      top: 0; left: 0;
      width: 100vw; height: 100vh;
      z-index: -1;
    }
    .seat-btn.selected {
      background-color: rgba(59, 130, 246, 0.2);
      color: rgb(96, 165, 250);
      border: 2px solid rgb(96, 165, 250);
      box-shadow: 0 0 0 2px rgb(96, 165,, 250), 0 0 0 4px rgba(17, 24, 39, 0.8);
      transform: translateY(-2px);
    }
    .seat-btn {
      transition: all 0.2s ease;
    }
    .seat-btn:hover {
      transform: translateY(-1px);
    }
  
