<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beenar Login Screen UI Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="preload" href="http://beenar.net/build/assets/app-6661bfc6.css" />
    <link rel="stylesheet" href="http://beenar.net/build/assets/app-6661bfc6.css" />
    <link rel="stylesheet" href="http://beenar.net/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" />
    <link rel="preload" href="http://beenar.net/build/assets/vendor-d65478ea.css" />
    <link rel="preload" href="http://beenar.net/build/assets/app-404945fc.css" />
    <link rel="modulepreload" href="http://beenar.net/build/assets/app-78e2d5aa.js" />
    <link rel="modulepreload" href="http://beenar.net/build/assets/axios-chunk-c4ee124e.js" />
    <link rel="modulepreload" href="http://beenar.net/build/assets/vendor-0789c9de.js" />
    <link rel="stylesheet" href="http://beenar.net/build/assets/vendor-d65478ea.css" />
    <link rel="stylesheet" href="http://beenar.net/build/assets/app-404945fc.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
    <script src="http://beenar.net/snow.js"></script>
    <script src="http://beenar.net/main.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-178283632-1"></script>
    <script src="http://beenar.net/build/assets/app-78e2d5aa.js"></script>
  </head>
  <body class="bg-black text-white antialiased">
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
