@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'DM Sans', sans-serif;
  color-scheme: dark;
}

body {
  background-color: #09090b;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-mono {
  font-family: 'IBM Plex Mono', monospace !important;
}

/* Custom Scrollbar for dense admin UI */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Utilities for icon alignment */
iconify-icon {
  display: inline-flex;
  vertical-align: middle;
}