<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>xm-profile-account</title>
    <link rel="sitemap" href="https://xm-register-profile-accoun.aura.build/sitemap.xml" />
    <link rel="image_src" href="https://xm-register-profile-accoun.aura.build/share-preview.jpg" />
    <link rel="canonical" href="https://xm-register-profile-accoun.aura.build/" />
    <link rel="image_src" href="https://hoirqrkdgbmvpwutwuwj.supabase.co/storage/v1/object/public/preview-images/xm-register-profile-accoun.png" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black text-white antialiased">
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
