

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


        :root {
            --gradient-background-start: rgb(108, 0, 162);
            --gradient-background-end: rgb(0, 17, 82);
            --first-color: 18, 113, 255;
            --second-color: 221, 74, 255;
            --third-color: 100, 220, 255;
            --fourth-color: 200, 50, 50;
            --fifth-color: 180, 180, 50;
            --size: 100%;
            --blending-value: screen;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.05) inset;
            -webkit-text-fill-color: white;
            transition: background-color 5000s ease-in-out 0s;
        }
    
