@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased overflow-x-hidden selection:bg-yellow-200 selection:text-stone-900 bg-[#f4f2f0] text-stone-900;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(168, 162, 158, 0.3); border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: rgba(168, 162, 158, 0.5); }
.dark-scrollbar::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.2); }