

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


        body {
            font-family: 'Inter', sans-serif;
        }
        
        /* Tab Menu Styles */
        .tab-menu {
            position: relative;
        }
        
        .tab-indicator {
            position: absolute;
            bottom: 0;
            height: 2px;
            background-color: #3b82f6; /* Blue-500 */
            transition: all 0.3s ease;
        }
        
        .tab-content {
            display: none;
            height: 300px; /* Fixed height to prevent menu movement */
            overflow-y: auto; /* Allow scrolling if content is taller */
        }
        
        .tab-content.active {
            display: block;
        }
    
