

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


.font-jakarta { font-family: 'Plus Jakarta Sans', sans-serif !important; }



      /* Custom font utilities */
      .font-jakarta { font-family: 'Plus Jakarta Sans', sans-serif !important; }
    
