

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    body { font-family: 'Inter', 'Poppins', sans-serif; }
    .modal-bg { background: rgba(18,21,38,0.85); }
    .scrollbar-hide::-webkit-scrollbar { display: none; }
    .scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
  
