@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}



canvas {
display: block;
touch-action: none;
}
/* Custom scrollbar to maintain clean aesthetic if needed, though hidden here */
::-webkit-scrollbar { width: 0px; }

