

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    html, body { height: 100%; overflow: hidden; }
    body { font-family: 'Inter', sans-serif; }
    #ocrImagePreview { object-fit: contain; max-height: 120px; }
  
