

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    body { font-family: 'Geist', sans-serif; }
    .progress-ring__circle {
      transition: stroke-dashoffset 0.3s;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
  
