<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map Exploration Landing Page Template</title>
    <link rel="stylesheet" href="https://apis.mappls.com/advancedmaps/api/jtqwltvkjrvajtdjvqdvdpdmigocadmmlmgd/map_sdk?layer=vector&v=3.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://apis.mappls.com/advancedmaps/api/jtqwltvkjrvajtdjvqdvdpdmigocadmmlmgd/map_sdk?layer=vector&v=3.0&callback=initMap"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body class="bg-black text-white antialiased">
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
