

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


@keyframes fadeInUp {
from { opacity: 0; transform: translateY(2rem); }
to { opacity: 1; transform: translateY(0); }
}
.text-balance { text-wrap: balance; }

