@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    
    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Geist', 'Inter', sans-serif;
    }
    
    body, html {
      height: 100%;
      overflow: hidden;
    }
    
    .spline-container {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    
    .content-container {
      position: relative;
      z-index: 10;
      height: 100vh;
    }
  
