

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


html{font-family:'Inter',sans-serif}
.fade-start{opacity:0;transform:translateY(12px)}
.fade-end{opacity:1;transform:translateY(0)}

