

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


        .toggle-checkbox:checked {
            right: 0;
            border-color: #68D391;
        }
        .toggle-checkbox:checked + .toggle-label {
            background-color: #68D391;
        }
        .toggle-checkbox {
            transition: all 0.3s ease-in-out;
        }
        .toggle-label {
            transition: background-color 0.3s ease-in-out;
        }
    
