

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    .sf-bold { font-family: 'SF Pro', Arial, sans-serif; font-weight: 700;}
    .sf-semi { font-family: 'SF Pro', Arial, sans-serif; font-weight: 600;}
    .sf-regular { font-family: 'SF Pro', Arial, sans-serif; font-weight: 400;}
    .no-scrollbar::-webkit-scrollbar {display:none;}
    .no-scrollbar {scrollbar-width:none;}
  
