

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


.font-geist { font-family: 'Geist', sans-serif !important; }



        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @keyframes slideUp {
            from { 
                opacity: 0; 
                transform: translateY(20px); 
            }
            to { 
                opacity: 1; 
                transform: translateY(0); 
            }
        }
    
