@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Ensure body styles match the source root perfectly */
body {
  @apply antialiased text-[#1A1A1A] bg-[#F9F8F6] font-light selection:bg-[#BBA88E] selection:text-white;
  font-family: 'Inter', sans-serif;
}