

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


.font-instrument-serif { font-family: 'Instrument Serif', serif !important; }



      /* Custom font utilities */
      .font-instrument-serif { font-family: 'Instrument Serif', serif !important; }
    
