<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bakery Brand Story Template</title>
    <link rel="canonical" href="https://shop.saltbudapest.com/" />
    <link rel="icon" href="//shop.saltbudapest.com/cdn/shop/files/favicon-32x32.png?crop=center&height=32&v=1702489615&width=32" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" />
    <link rel="alternate" href="https://shop.saltbudapest.com/" />
    <link rel="alternate" href="https://shop.saltbudapest.com/" />
    <link rel="alternate" href="https://shop.saltbudapest.com/en" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="//shop.saltbudapest.com/cdn/shop/t/6/assets/constants.js?v=58251544750838685771770037246"></script>
    <script src="//shop.saltbudapest.com/cdn/shop/t/6/assets/pubsub.js?v=158357773527763999511770037246"></script>
    <script src="//shop.saltbudapest.com/cdn/shop/t/6/assets/global.js?v=40820548392383841591770037246"></script>
    <script src="//shop.saltbudapest.com/cdn/shopifycloud/storefront/assets/storefront/load_feature-a0a9edcb.js"></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=G-2M6V79H761"></script>
  </head>
  <body class="bg-black text-white antialiased">
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
