

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    html { font-family: 'Inter', serif; }
    h1 { font-family: 'Lora', serif; }
    .tight {letter-spacing: -0.02em;}
    .comment-bubble-left, .comment-bubble-right {
      border-radius: 1rem;
      padding: 0.75rem 1rem;
      position: relative;
    }
    .comment-bubble-left::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 13px;
      width: 11px;
      height: 11px;
      transform: rotate(45deg);
      background-color: inherit;
    }
    .comment-bubble-right::after {
      content: '';
      position: absolute;
      bottom: -6px;
      right: 13px;
      width: 11px;
      height: 11px;
      transform: rotate(45deg);
      background-color: inherit;
    }
  
