

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    .text-stroke {
      -webkit-text-stroke: 1px rgba(255,255,255,0.6);
      text-stroke: 1px rgba(255,255,255,0.6);
    }
    .text-stroke-anim {
      -webkit-text-stroke: 1px #C43EFF;
      text-stroke: 1px #C43EFF;
    }
    .font-bricolage {
      font-family: 'Bricolage Grotesque', Arial, sans-serif;
    }
  
