

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    html { font-family: 'Inter', system-ui, sans-serif; }
    .onb-illus-float { animation: ecosysFloat 5s infinite cubic-bezier(0.4,0,0.2,1) alternate;}
    @keyframes ecosysFloat {
      0% { transform: translateY(0);}
      100% { transform: translateY(10px);}
    }
    .dot { width:10px; height:10px; border-radius: 9999px; background: #CBD5E1; transition:background 0.2s;}
    .dot.active { background: #4F46E5;}
    .btn-scale-hover:hover {transform: scale(1.045);}
    .btn-scale-hover:active {transform: scale(0.98);}
    .slide { transition: transform 0.38s cubic-bezier(.4,0,.2,1);}
    .no-select { user-select: none; }
  
