

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    body { font-family: 'Roboto', 'Montserrat', sans-serif; }
    /* Custom scrollbar for minimalism */
    ::-webkit-scrollbar { width: 8px; }
    ::-webkit-scrollbar-thumb { background: #222; border-radius: 8px; }
  
