<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halal Investment Landing Page Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=G-2M6V79H761"></script>
    <script src="//embed.typeform.com/next/embed.js"></script>
    <script src="https://fast.wistia.com/player.js"></script>
    <script src="https://fast.wistia.com/embed/1q1u3f2ggc.js"></script>
    <script src="https://fast.wistia.com/embed/3f4dxfjfhf.js"></script>
    <script src="https://fast.wistia.com/embed/4yeva7vcuv.js"></script>
    <script src="https://fast.wistia.com/embed/4z19e0cnvr.js"></script>
    <script src="https://fast.wistia.com/embed/5bb491fhwg.js"></script>
    <script src="https://fast.wistia.com/embed/8mkrctjfvu.js"></script>
    <script src="https://fast.wistia.com/embed/8ubspu5oso.js"></script>
    <script src="https://fast.wistia.com/embed/9ekmb82ygv.js"></script>
    <script src="https://fast.wistia.com/embed/9h7vcrtwgs.js"></script>
    <script src="https://fast.wistia.com/embed/9ldbtpeizw.js"></script>
    <script src="https://fast.wistia.com/embed/9zsde6pqjb.js"></script>
    <script src="https://fast.wistia.com/embed/af9oeuda3e.js"></script>
    <script src="https://fast.wistia.com/embed/chkcnph6px.js"></script>
    <script src="https://fast.wistia.com/embed/cs9fks23w1.js"></script>
    <script src="https://fast.wistia.com/embed/cxlfc645rc.js"></script>
    <script src="https://fast.wistia.com/embed/d5k2r73ff5.js"></script>
    <script src="https://fast.wistia.com/embed/ez6kgfudxw.js"></script>
    <script src="https://fast.wistia.com/embed/gu42cg1apw.js"></script>
    <script src="https://fast.wistia.com/embed/h0on1yu71v.js"></script>
    <script src="https://fast.wistia.com/embed/h7zn2bqr9g.js"></script>
    <script src="https://fast.wistia.com/embed/hggcp805vk.js"></script>
    <script src="https://fast.wistia.com/embed/hwe7oe0v8c.js"></script>
    <script src="https://fast.wistia.com/embed/ie6z9ycoaz.js"></script>
    <script src="https://fast.wistia.com/embed/k1caeowxsl.js"></script>
    <script src="https://fast.wistia.com/embed/ka2qr4lr93.js"></script>
    <script src="https://fast.wistia.com/embed/mp1eqk0h02.js"></script>
    <script src="https://fast.wistia.com/embed/qcdq45n05l.js"></script>
    <script src="https://fast.wistia.com/embed/s73eratmeh.js"></script>
    <script src="https://fast.wistia.com/embed/tlonst837j.js"></script>
    <script src="https://fast.wistia.com/embed/uhponk5men.js"></script>
    <script src="https://fast.wistia.com/embed/w86g9n5xhs.js"></script>
    <script src="https://fast.wistia.com/embed/xrgro1ymf2.js"></script>
    <script src="https://fast.wistia.com/embed/yhocpitaht.js"></script>
    <script src="https://fast.wistia.com/embed/yicwdf0gyq.js"></script>
    <script src="https://fast.wistia.com/embed/ze4e2bh67n.js"></script>
    <script src="https://fast.wistia.com/assets/external/publicApi.js"></script>
  </head>
  <body class="bg-black text-white antialiased">
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
