

#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


    .animate-fade-in { opacity: 0; transition: opacity 0.8s cubic-bezier(.4,0,.2,1);}
    .in-view { opacity: 1 !important;}
    .feature-divider { height:1px; background: linear-gradient(to right, #27272a 50%, transparent 100%);}
  


      body { font-family: 'Inter', sans-serif; }
    
